
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/chatStyle.css" rel="stylesheet"/>
</head>
<body class="panel panel-default">
    <div class="panel-body">
        @RenderBody()
    </div>
</body>
</html>